/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
/*grid style */
.grid-container {
  display: grid;
  grid: 100px 2px 230px 100px / auto;
	margin-left: 20px;
	font-family: Trebuchet MS, sans-serif;
  color: #424242;
  font-size: 0.80em;
  text-align: center;
}
/* first row of grid*/
.grid-top {
	position: relative;
	border: 2px solid #eaeaea;
	border-radius: 2px;
	width: 267px;
	padding: 10px;
	margin: auto auto 5px 570px;
	background-color: #424242;
	color: white;
}
.grid-top:after {
	position: absolute;
	width: 6px;
	height: 6px;
	border-top: 0px solid #eaeaea;
	border-left: 0px solid #eaeaea;
	border-right: 2px solid #424242;
	border-bottom: 2px solid #424242;
	top: 100%;
	left: 80%;
	margin-left: 5px;
	content: '';
	transform: rotate(45deg);
	margin-top: -5px;
	background-color: #424242;
}
/* second row of grid*/
.grid-progress progress {
  -webkit-appearance: none;
  border: 2px solid #eaeaea;
  width: 265px;
	margin: auto 2em auto 1.25em;
}
::-webkit-progress-value {
  background-color: #EF5F3C;
}
::-webkit-progress-bar {
  background-color: white;
}
/* third row of grid*/
.grid-main {
  border: 2px solid #eaeaea;
  padding: 10px;
  padding-top: 20px;
  margin: 1px 5px 5px 572px;
  max-width: 265px;
  text-align: left;
}
span.first {
  color: #EF5F3C;
  font-weight: bold;
}
span.number {
  font-weight: bold;
}
#amount {
  padding: 10px;
  font-weight: bold;
	font-size: 14px;
  margin: 2px;
 }
.give-btn {
  background-color: #1CBC2C;
  color: white;
  padding: 10px;
  margin: 5px;
  width: 100px;
	height: 40px;
  font-weight: bold;
	border-radius: 2px;
	border-width: 0;
	font-size: 14px;
}
.last-line {
  color: #20A1D4;
	font-style: italic;
}
/* fourth row of grid*/
.grid-bottom {
	text-align: center;
	margin: 5px 250px;

}
.bottom-btn {
	width: 125px;
	height: 40px;
	font-weight: bold;
	background-color: white;
	border: 2px solid #eaeaea;
	border-radius: 2px;
	margin-right: 10px;
	font-family: Trebuchet MS, sans-serif;
	font-size: 12px;
}
